@font-face {
    font-family: 'Jetbrains Mono';
    src: url(./jbmono.ttf);
}
body {
    font-family: 'Jetbrains Mono', monospace;
    font-size: large;
    background-color: #f1f1f1;
    color: #424242;
}

a {
    color: inherit;
}

.url {
    color: #20a5ba;
    font-weight: bold;
}

.gpg {
    color: #523c79;
}

.content {
    max-width: 900px;
    padding: 5px;
    margin: auto;
}
