@font-face {
    font-family: 'lain';
    src: url(./jmh_typewriter.otf);
}
body {
    font-family: 'lain', monospace;
    font-size: large;
    background-color: #1d1f28;
    color: #fdfdfd;
}

a {
    color: inherit;
}

.url {
    color: #8897f4;
    font-weight: bold;
}

.gpg {
    color: #c574dd;
}

.content {
    max-width: 900px;
    padding: 5px;
    margin: auto;
}
